.header {
  &-top {
    background-color: map-get($colors, background-header);
    justify-content: space-between;
    &-list {
      @include pxRem(padding, 0 15 0 70);
    }
    &-item {
      color: map-get($colors, header-color);
      align-items: center;
    }
    &-item:last-child {
      @include pxRem(padding-left, 70);
    }
    .info-item {
      @include pxRem(font-size, 12);
      @include pxRem(margin-left, 10);
      color: map-get($colors, header-color);
      font-weight: map-get($font-weight, normal);
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: map-get($colors, white);
      }
    }
    .icon-item {
      @include pxRem(font-size, 20);
    }
  }
  &-form {
    @include pxRem(height, 50);
    text-align: right;
    justify-content: flex-end;
    .form-search {
      position: relative;
      height: inherit;
      justify-content: flex-end;
    }
    .form-input,
    .search,
    .login {
      background-color: map-get($colors, header-form);
      height: inherit;
      border: 0;
      outline: none;
      padding: 0;
      border-radius: 0;
    }
    .form-input {
      @include pxRem(width, 420);
      @include pxRem(padding, 0 20);
      color: map-get($colors, header-color);
    }
    .search {
      @include pxRem(font-size, 20);
      @include pxRem(margin-right, 20);
      cursor: pointer;
      position: absolute;
      color: map-get($colors, white);
    }
    .login {
      @include pxRem(width, 210);
      @include pxRem(padding-left, 15);
      border-radius: 0;
      background-color: map-get($colors, green);
      justify-content: flex-start;
      text-transform: uppercase;
      &:hover {
        background-color: map-get($colors, hover-green);
      }
    }
  }
  &-bottom {
    @include pxRem(padding, 60 72 32 70);
    width: 100%;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
  }
    // .owl-carousel {
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    // }
    // .owl-stage {
    //   width: auto !important;
    //   display: flex;
    //   justify-content: center;
    // }
    // .owl-item {
    //   @include pxRem(width, 275 !important);
    //   @include pxRem(height, 75);
    // }
    // .owl-img {
    //   position: relative;
    // }
    // .owl-no {
    //   @include pxRem(font-size, 38);
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   transform: translate(50%, 50%);
    //   font-family: "Roboto", sans-serif;
    //   color: white;
    // }
  //   .title {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     text-align: center;
  //   }
  // }
  // &-bottom::before {
  //   @include pxRem(height, 770);
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   // background: url("../../images/img-slider1.jpeg") no-repeat center / cover;
  //   width: 100%;
  //   filter: brightness(0.3);
  //   z-index: -1;
  // }
  &-logo {
    img {
      @include pxRem(width, 150);
      @include pxRem(height, 50);
    }
  }
  &-nav {
    @include pxRem(margin, 10 0);
  }
  &-menu {
    @include pxRem(padding, 0 10);
    align-items: center;
    &-item > a {
      @include pxRem(padding, 15 18);
      @include pxRem(letter-spacing, 2);
      @include pxRem(font-size, 13);
      color: map-get($colors, white);
      text-transform: uppercase;
      &:hover {
        color: map-get($colors, orange);
        transition: all 0.5s ease-in-out;
      }
    }
    &-item:first-child > a {
      color: map-get($colors, orange);
    }
  }
  &-bag {
    @include pxRem(margin-left, 15);
    cursor: pointer;
    position: relative;
    font-style: normal;
    .bag-item {
      @include pxRem(font-size, 25);
      color: map-get($colors, white);
    }
    .count {
      @include pxRem(width, 15);
      @include pxRem(height, 15);
      @include pxRem(top, 15);
      @include pxRem(left, 15);
      @include pxRem(line-height, 15);
      @include pxRem(font-size, 9);
      text-align: center;
      border-radius: 50%;
      background-color: map-get($colors, orange);
      color: map-get($colors, white);
      position: absolute;
    }
  }
}
